* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.dog-head {
  width: 250px;
  height: 250px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 46%;
}
