#image {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  display: block;
  padding-bottom: 10px;
}

body {
  font-family: sans-serif;
}

.heading {
  padding: 5px 15px;
  margin: auto;
}

ul > li {
  padding-bottom: 15px;
}
