body {
  font: 1em sans-serif;
}

header {
  background-color: darkblue;
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.image-container {
  display: flex;
  justify-content: flex-start;
  width: 500px;
}

.sports-logo {
  width: 125px;
  height: 125px;
}

h1 {
  color: white;
}

nav {
  padding-right: 50px;
}

nav > ul > li {
  padding-bottom: 5px;
  list-style: none;
  font-size: 1em;
  display: block;
  color: white;
}

li > a {
  color: inherit;
  text-decoration: none;
}

nav > ul > li:hover {
  background-color: white;
  color: darkblue;
  cursor: pointer;
}

footer {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

section {
  padding: 10px 100px 25px 100px;
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

#long-answer {
  display: block;
}

.nhl-essay {
  display: flex;
  display: block;
  justify-content: flex-end;
}

.info {
  padding-bottom: 10px;
}

main {
  padding-top: 30px;
}

h2 {
  border-bottom: 4px solid lightblue;
}

.question-block {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-top: 15px;
  width: 100%;
}

.checkbox-question {
  padding: 5px 0;
}

.dropdown-container {
  padding: 15px;
}

button {
  display: block;
  margin: 10px auto;
  width: 25%;
  padding: 15px;
  font-size: 1.438rem;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}
